<!DOCTYPE html>
<html>
<body onload="getLocation()">

<p>Click the button to get your coordinates.</p>
<form class="" action="" method="post">
  {% csrf_token %}
{{form.as_p}}
<input type="submit" name="" value="save">
</form>


<p id="demo"></p>

<script>
var x = document.getElementById("demo");
var lat = document.getElementById("id_lat")
var lng = document.getElementById("id_lng")

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML =  + position.coords.latitude +","+ position.coords.longitude;
    lat.value = position.coords.latitude;
    lng.value = position.coords.longitude;
}
function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}
</script>

</body>
</html>
